.certificate__descr{
    margin-right: 20px;
}

.certificate__slider {
    width: 760px;
    overflow: hidden;
}
.certificate__content{
    padding-bottom: 114px;
}
.certificate__content .swiper-pagination{
    bottom: 50px;
}
