.header {
    background-color: #FFF8F3;
    position: absolute;
    left: 0;
    right:0;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
}

.header__list {
    display: flex;
    gap: 20px;
}

.header__link,
.header__phone {
    font-family: 'Comfortaa', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    @media (max-width:790px) {
        font-size: 10px;
        }
}

.header__phone {
    display: flex;
    align-items: center;
    gap: 3px;
}

