.steps {}

.steps__title {
    font-size: 40px;
    margin-bottom: 15px;
}

.steps__text {
    font-family: 'Comfortaa',sans-serif;
    font-size: 14px;
}
.steps__text {}

.section__text {}

.steps__list {
    display: flex;
    flex-wrap: wrap;
    gap: 70px 26px;
}

.section__content {}

.section--decor {}

.steps__item {
    display: flex;
    width: 370px;
    gap: 39px;
}

.steps__item--odd {}

.steps__item-text {
    font-family: 'Comfortaa',sans-serif;
    font-size: 14px;
}

.steps__item-img {}

.steps__item--even {}