.team {
    background-color: #A5978E;
    padding: 80px 0 60px;
    color: #fff;
    margin-bottom: 150px;
}

.team__content {
    gap:75px;
    padding-bottom: 0;
    @media (max-width:1000px) {
        gap:30px 20px;
    }
}

.team__item {
    position: relative;
}

.team__info {
    position: absolute;
    bottom: 13px;
    right: 33px;
    text-align: center;
    background-color: #7B6152;
    padding: 15px 10px 16px;
    width: 165px;
    z-index: 4;
    @media (max-width:1000px) {
        right: -10px;
    }
}

.team__name {
    font-size: 12px;
    margin-bottom: 3px;
}

.team__text {
    font-family: 'comfortaa', sans-serif;
    font-size: 10px;
}